# Visual Studio Cache and Temp files
.vs/
*.ipch
*.db
*.opendb
*.user
*.suo
x64/
Debug/
Release/

# Visual Studio project and build files
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Build Folders
[Bb]in/
[Oo]bj/